
@font-face{
      font-family: Normal;              
      src:url(https://doodmc.com/assets/fonts/Lato-Regular.ttf);
    }
body {
    font-family:Normal;
    background-image:url('coopydood.png');
    color:white;
}
